.filter-panel {
    color: #777;
    padding: 10px 15px;
    height: 30px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
    &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 50px;
        overflow: hidden;
    }
    .todo-count {
        float: left;
        text-align: left;
        strong {
            font-weight: 300;
        }
    }
    .filters {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        right: 0;
        left: 0;
        li {
            display: inline;
            a {
                color: inherit;
                margin: 3px;
                padding: 3px 7px;
                text-decoration: none;
                border: 1px solid transparent;
                border-radius: 3px;
                &.selected,
                &:hover {
                    border-color: rgba(175, 47, 47, 0.1);
                }
                &.selected {
                    border-color: rgba(175, 47, 47, 0.2);
                }
            }
        }
    }
    .clear-completed,
    html .clear-completed:active {
        float: right;
        position: relative;
        line-height: 20px;
        text-decoration: none;
        cursor: pointer;
        position: relative;
        top: 5px;
    }

    .clear-completed:hover {
        text-decoration: underline;
    }
}
