button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

button,
input[type="checkbox"] {
    outline: none;
}

.hidden {
    display: none;
}

.todoapp {
    background: #fff;
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    input::-webkit-input-placeholder {
        font-style: italic;
        font-weight: 300;
        color: #7e7b7b;
    }
    input::-moz-placeholder {
        font-style: italic;
        font-weight: 300;
        color: #7e7b7b;
    }
    input::input-placeholder {
        font-style: italic;
        font-weight: 300;
        color: #7e7b7b;
    }
    h1 {
        position: absolute;
        top: -155px;
        width: 100%;
        font-size: 60px;
        font-weight: 700;
        text-align: center;
        color: rgb(194 233 255);
        -webkit-text-rendering: optimizeLegibility;
        -moz-text-rendering: optimizeLegibility;
        text-rendering: optimizeLegibility;
    }
}


.main {
    position: relative;
    z-index: 2;
    border-top: 1px solid #e6e6e6;
}

label[for="toggle-all"] {
    display: none;
}

.toggle-all {
    position: absolute;
    top: -55px;
    left: -12px;
    width: 60px;
    height: 34px;
    text-align: center;
    border: none; /* Mobile Safari */
    &::before {
        content: "â¯";
        font-size: 22px;
        color: #e6e6e6;
        padding: 10px 27px 10px 27px;
    }
    &:checked::before {
        color: #737373;
    }
}

.info {
    margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
    p {
        line-height: 1;
    }
    a {
        color: inherit;
        text-decoration: none;
        font-weight: 400;
        &:hover {
            text-decoration: underline;
        }
    }
}

/*
  Hack to remove background from Mobile Safari.
  Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .toggle-all,
    .todo-list li .toggle {
        background: none;
    }

    .todo-list li .toggle {
        height: 40px;
    }

    .toggle-all {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-appearance: none;
        appearance: none;
    }
}

@media (max-width: 430px) {
    .footer {
        height: 50px;
    }

    .filters {
        bottom: 10px;
    }
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px dashed #c5c5c5;
    border-bottom: 1px dashed #f7f7f7;
}

.learn {
    font: 1.4em "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 300px;
    max-width: 700px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
    a {
        font-weight: normal;
        text-decoration: none;
        color: #b83f45;
        &:hover {
            text-decoration: underline;
            color: #787e7e;
        }
        h3,
        h4,
        h5 {
            margin: 10px 0;
            font-weight: 500;
            line-height: 1.2;
            color: #000;
        }
        h3 {
            font-size: 24px;
        }
        h4 {
            font-size: 18px;
        }
        h5 {
            margin-bottom: 0;
            font-size: 14px;
        }
        ul {
            padding: 0;
            margin: 0 0 30px 25px;
        }
        li {
            line-height: 20px;
        }
        p {
            font-size: 15px;
            font-weight: 300;
            line-height: 1.3;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

#issue-count {
    display: none;
}

.learn-bar > .learn {
    position: absolute;
    width: 400px;
    top: 8px;
    left: -300px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    transition-property: left;
    transition-duration: 500ms;
}

@media (min-width: 899px) {
    .learn-bar {
        width: 400px;
        padding-left: 300px;
    }

    .learn-bar > .learn {
        left: 8px;
    }
}
